SCRAPE_TIMEOUT_SECONDS=45
PROFILE_CACHE_TTL_SECONDS=900
SEARCH_CACHE_TTL_SECONDS=900
COMMENTS_CACHE_TTL_SECONDS=900

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=

MAYAR_URL_RINGAN=
MAYAR_URL_TUMBUH=
MAYAR_URL_TIM=
MAYAR_WEBHOOK_SECRET=
